.main_chat
  .group-info
    .left-box
      .current-group
        ddd
      %ul.member-list
        Member : 
        %li.list-member
          dedede
    = link_to "#", class:"edit-btn" do
      Edit
  .message-list
    .message-info
      .sender
        dedede
      .date
        2020.5.24(Sun) 12:00:00
    .text
      yyy
    .message-info
      .sender
        dedede
      .date
        2020.5.24(Sun) 13:00:00
    .text
      zzz

  .message-form
    .new-message
      .input-form
        %input{class: "input-form__new-text", type: "text", placeholder: "type a message"}
        %label{class: "input-form__new-image"} 
          = icon('fa', 'image')
          %input{type: "file"}
      %input{class: "submit-btn", type: "submit",name: "commit", value: "Send"}