.side_bar
  .user-name
    .top-items
      .top-items__name
        dededede
      .top-items__icons
        = link_to "#" ,class: "top-items__icons top-items__icons__add" do
          = icon('far', 'edit')
        = link_to "#" ,class: "top-items__icons top-items__icons__edit" do
          = icon('fas', 'cog')

  .group-list
    .group-name
      techcamp
    .group-message
      test
    .group-name
      techcamp
    .group-message
      test
